<link rel="stylesheet" href="Views/DataFilter/ConfirmationWindowTemplate.css"/>
<div class="confirmation-window-wrapper">
    <div class="modal-header">
        <span>Uh-oh!</span>
    </div>
    <div class="modal-body">
        <div class="msg-body">
            This group is currently used in data filter,
            please remove/reset the filter first.
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn-ok" >
            <span class="lbl-btn" ng-click="onOkBtnClickHandler()">OK</span>
        </button>
    </div>
</div>