<link rel="stylesheet" href="Views/Shared/CSS/MinLoadingOverlay.css"/>
<!--<div class="loading-main-container">-->
    <div id="minLoading" class="min-loading-container">
        <div class="min-loading-body">
            <div id="main-container">
                <span>Please wait while loading data...</span>
                <i class="show-loading-image-animation">
                  <img id="loading" src="Content/images/itsat-loading.png" width="25px" height="25px"  class="make-loading-rotation" />
                </i>
            </div>
        </div>
    </div>
<!--</div>-->